<header class="header fixed-top rad-animation-group" id="header">
  <div class="container rad-fade-in">
    <nav class="navbar navbar-expand-lg navbar-light p-0">

      <style>
      .logosize {width: 50%;}
        </style>
     <div class="row">
        <div>
          <a class="navbar-brand">
            <span style="color: #aecdf6">{{ .Site.Params.logo.text1 }}</span>
            <span>{{ .Site.Params.logo.text2 }}</span>
          </a>
        </div> 
         <div>
          <img class="logosize" src="img/general/logo.jpg"  alt="Gemeindehaus"/> 
         </div>  
      </div> 
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-lg-auto">
          {{ range .Site.Menus.header }}
          <li class="nav-item">
            <a data-scroll class="nav-link" href="{{ .URL }}"
              >{{ .Name | upper }}</a
            >
          </li>
          {{ end }}
        </ul>
      </div>
    </nav>
  </div>
</header>

