{{ if .Site.Data.homepage.testimonial.enable }}
<section class="section rad-animation-group section--border-bottom">
    <div class="container">
        <h2 class="rad-fade-down">{{ .Site.Data.homepage.testimonial.title }}</h2>
        <div class="row row--padded mb-0 rad-fade-down">
            {{ range .Site.Data.homepage.testimonial.items }}
            <div class="col-12 col-md-4 mb-5 mb-md-0 testimonial">
               
                <div class="testimonial__author">
                    <img style="border-radius: 100%; width:100px; margin-right: 25px; "
                         src="{{ .image.x }}"/>
                    <div class="testimonial__author-info">
                        <h4 style="color:#aecdf6">{{ .name }}</h4>
                        <span style="color: black">{{ .position }}</span>
                    </div>
                </div>
                <p>
                    <p>
                    </p>
                    {{ .content }}
                </p>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
